<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delcourt.samuel.accio" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AccueilActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RefrigerateurActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".AccueilActivity" >
        </activity>
        <activity
            android:name=".ListeBoitesActivity"
            android:label="@string/title_activity_content"
            android:parentActivityName=".RefrigerateurActivity" >
        </activity>
        <activity
            android:name=".RecipesActivity"
            android:label="@string/title_activity_recipes"
            android:parentActivityName=".RefrigerateurActivity" >
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favoris"
            android:parentActivityName=".RefrigerateurActivity" >
        </activity>
        <activity
            android:name=".HistoriqueActivity"
            android:label="@string/title_activity_historique"
            android:parentActivityName=".RefrigerateurActivity" >
        </activity>
        <activity
            android:name=".create_new_object_activities.NewFrigoActivity"
            android:label="@string/title_activity_new_frigo"
            android:parentActivityName=".AccueilActivity" >
        </activity>
        <activity
            android:name=".create_new_object_activities.NewBoxActivity"
            android:label="@string/title_activity_new_box"
            android:parentActivityName=".ListeBoitesActivity" >
        </activity>
        <activity
            android:name=".BoxActivity"
            android:label="@string/title_activity_box"
            android:parentActivityName=".ListeBoitesActivity" >
        </activity>
        <activity
            android:name=".AideNouvelleBoiteActivity"
            android:label="@string/title_activity_aide_nouvelle_boite"
            android:parentActivityName=".create_new_object_activities.NewBoxActivity">
        </activity>
    </application>

</manifest>
